# partial playbook just for this project to be able to compile documentation without pushing it to GitHub
# usage: antora generate antora-playbook.yml
site:
  title: SmallRye Fault Tolerance only documentation
  start_page: smallrye-fault-tolerance::index.adoc
content:
  sources:
  - url: ..
    start_path: doc
    branches: HEAD
ui:
  bundle:
    url: https://github.com/smallrye/smallrye-antora-ui/blob/main/build/ui-bundle.zip?raw=true
    snapshot: true
asciidoc:
  extensions:
  - asciidoctor-kroki
  attributes:
    page-pagination: ''
    kroki-fetch-diagram: true
